
.container{
    display: flex;
    position: relative;
}
.left-menu{
    border: 1px solid #000;
    height: 90vh;
    min-width: 200px;
    padding-left: 0;
    margin: 0;
}
.contents{
    display: flex;
    width: calc(100% - 200px);
    flex-wrap: nowrap;
}
.contents-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tabs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #a8a8a8;
    position: relative;
}
.tab-contents{
    background-color: #a8a8a8;
    width: 100%;
    height: 100%
}
.tab-name{
    background-color: #a7a7a7;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
}
.tab-name.on{
    background-color: #fff;
}
.tab-inner{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #000;
    display: none;
}
.tab-inner.on{
    display: block;
}
#btnMoveRight{
    position: absolute;
    right: 0;
    width: 100px;
    height: 40px;
    z-index: 9;
}
.right-on > div{
    width: 50%;
    
}
.tab-contents{
    overflow: auto;
}
.contents-inner{
    overflow: inherit !important;
}